.bio {
  display: flex;
}

.bioText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.bioText h1 {
  margin: 0;
  margin-bottom: var(--spacing-0-3);
  font-size: var(--spacing-1-5);
  color: rgb(var(--accent-rgb));
}

.bioText h3 {
  margin: 0;
  opacity: 0.7;
}

.bioImage {
  margin-right: var(--spacing-1);
  margin-bottom: 0;
  min-width: var(--spacing-4-8);
  min-height: var(--spacing-4-8);
  width: var(--spacing-4-8);
  height: var(--spacing-4-8);
  border-radius: 5%;
}

.spacing {
  margin-bottom: var(--spacing-3);
}

@media (min-width: 600px) {
}
