:root {
  --foreground-rgb: 6, 28, 35;
  --background-rgb: 244, 244, 244;
  --accent-rgb: 255, 83, 112;
  --primary-rgb: 120, 187, 27;

  --spacing-0-01: 0.0175rem;
  --spacing-0-2: 0.4375rem;
  --spacing-0-25: 0.525rem;
  --spacing-0-3: 0.525rem;
  --spacing-0-5: 0.875rem;
  --spacing-0-6: 1rem;
  --spacing-0-75: 1.3125rem;
  --spacing-1: 1.75rem;
  --spacing-1-5: 2.625rem;
  --spacing-2: 3.5rem;
  --spacing-3: 5.25rem;
  --spacing-4: 7rem;
  --spacing-4-8: 8.4rem;
  --spacing-10: 17.5rem;
  --spacing-24: 42rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 244, 244, 244;
    --background-rgb: 6, 28, 35;
    --accent-rgb: 240, 113, 120;
    --primary-rgb: 195, 232, 141;
  }
}

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  line-height: 1.75;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: var(--font-body);
  font-weight: 400;

  margin: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--spacing-24);
  padding: var(--spacing-1-5) var(--spacing-0-75);
}

a {
  color: rgb(var(--primary-rgb));
  transition:
    color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  text-decoration: none;
  box-shadow: 0 1px 0 0 currentColor;
}

a:hover {
  box-shadow: 0 3px 0 0 currentColor;
  color: rgb(var(--primary-rgb));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--primary-rgb));
  font-family: var(--font-heading);
  font-weight: 800;
  line-height: 1.1;

  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: var(--spacing-1);
  text-rendering: optimizeLegibility;
}

h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--foreground-rgb));
  margin-top: var(--spacing-2);
}

p,
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

:not(blockquote) > p,
iframe {
  margin-block-end: 2em;
}

img {
  object-fit: cover;
  max-width: 100%;
}

abbr {
  font-weight: 600;
  text-decoration: none;
}

abbr[title] {
  border-bottom: 1px dotted rgb(var(--foreground-rgb));
}

hr {
  background-color: rgba(var(--foreground-rgb), 0.1);
}

th,
td {
  border-color: rgba(var(--foreground-rgb), 0.1);
}

strong {
  font-weight: 700;
}

aside {
  background: rgba(var(--foreground-rgb), 0.1);
  padding: var(--spacing-0-5);
  border-radius: var(--spacing-0-5);
  margin-bottom: var(--spacing-1);
}

aside p:last-child {
  margin-bottom: 0;
}

blockquote {
  font-size: var(--spacing-0-75);
  position: relative;
  padding: var(--spacing-0-5) var(--spacing-1);
  border-bottom-left-radius: var(--spacing-0-5);
  border-bottom-right-radius: var(--spacing-0-5);
  margin-left: var(--spacing-1);
  margin-right: var(--spacing-1);
  background: rgba(var(--foreground-rgb), 0.1);
  border-left: 2px solid;
  border-right: 2px solid;
  line-height: 1.5;
  letter-spacing: var(--spacing-0-1);
  border-image: linear-gradient(to bottom, rgb(var(--primary-rgb), 1) 0%, rgba(var(--primary-rgb), 0) 70%) 1 100%;
}

@media (min-width: 600px) {
  blockquote.right,
  blockquote.left {
    max-width: var(--spacing-10);
  }

  blockquote.right {
    float: right;
  }

  blockquote.left {
    float: left;
  }
}

footer {
  opacity: 0.5;
  font-size: var(--spacing-0-5);
  text-align: center;
  margin-top: var(--spacing-4);
}

code,
pre {
  font-family: var(--font-code);
}

:not(pre) > code {
  background-color: rgba(var(--foreground-rgb), 0.1);
  font-size: 0.9em;
  line-height: var(--spacing-1);
  color: rgb(var(--foreground-rgb));
  white-space: normal;
  padding: 0.2em 0.3em;
  border-radius: 0.5em;
}

table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: var(--spacing-1);
  font-size: var(--spacing-0-6);
  line-height: var(--spacing-1);
  border-collapse: collapse;
  width: 100%;
}

thead {
  text-align: left;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

td,
th {
  text-align: left;
  border-bottom: 1px solid rgba(var(--foreground-rgb), 0.1);
  font-feature-settings: 'tnum';
  padding-left: var(--spacing-0-6);
  padding-right: var(--spacing-0-6);
  padding-top: var(--spacing-0-5);
  padding-bottom: calc(var(--spacing-0-5) - 1px);
}
