.navigation {
  padding-top: var(--spacing-0-2);
  margin-bottom: var(--spacing-1-5);
  border-top: 1px solid rgba(var(--foreground-rgb), 0.2);
}

.navigation ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation li {
  list-style: none;
  margin: 0;
}

.navigation li:not(:first-child) {
  margin-left: var(--spacing-1);
}

.link {
  color: rgb(var(--primary-rgb));

  font-weight: 600;
}

.active {
  color: rgb(var(--foreground-rgb));
  box-shadow: none;
  pointer-events: none;
  cursor: text;
}
