header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-0-5);
}

header .heading {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.1;
}

header .heading a:hover {
  color: inherit;
}

header h1 {
  color: rgb(var(--primary-rgb));
}

header h3 {
  height: var(--spacing-1-5);
  display: flex;
  align-items: center;
  color: rgb(var(--primary-rgb));
}

header .link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}

header .author {
  color: rgb(var(--foreground-rgb));
  opacity: 0.5;
}
